.centered {
  margin: auto;
  max-width: 1120px;
  width: 100%;
}
.hero {
  margin-top: 88px;
  height: 632px;
  width: 100%;
  background: linear-gradient(90.7deg, #211c24 0.64%, #211c24 101%);
}
.hero .centered {
  display: flex;
}
.headText p:first-of-type {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.4);
}
.headText p:nth-child(2) {
  font-weight: 100;
  font-size: 96px;
  line-height: 72px;
  color: rgba(255, 255, 255, 1);
}
.span {
  font-weight: 600;
}
.headText p:nth-child(3) {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.4);
}
.shopNow {
  width: 191px;
  height: 56px;
  align-items: center;
  gap: 8px;
  border: solid 1px rgba(255, 255, 255, 1);
  border-radius: 6px;
  background-color: inherit;
  color: rgba(255, 255, 255, 1);
}
.headText {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 24px;
}
.hero img {
  margin-left: auto;
}
@media only screen and (max-width: 1120px) {
  .heroo {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .hero {
    height: 769px;

    overflow: hidden;
  }
  .hero img {
    width: 321px;
    margin: 0;
  }
  .headText {
    padding-top: 88px;
    gap: 16px;
    text-align: center;
    padding-inline: 16px;
  }
  .shopNow {
    margin: auto;
    margin-top: 32px;
  }

  .headText p:nth-child(2) {
    font-size: 72px;
    letter-spacing: -1%;
    font-weight: 100;
    line-height: 72px;
  }
  .headText p:nth-child(3) {
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}
