.saleimage {
  background-image: url("../../../../public/images/saleimg.png");
  background-size: cover;
  background-position: center;
  height: 448px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upped {
  padding-top: 0;
}
.prods {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-bottom: 136px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 268px;
  background-color: #f6f6f6;
  border-radius: 9px;
  padding: 24px 16px;
  gap: 16px;
  height: fit-content;
  box-sizing: border-box;
  width: 268px;
  height: 432px;
  justify-content: space-between;
}
.product img:first-of-type {
  align-self: flex-end;
}

.product .shop-now {
  width: fit-content;
  height: 48px;
  border-radius: 8px;
  background-color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 0;
}
.product a {
  padding-inline: 64px;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

.product img:last-of-type {
  height: 160px;
  width: 160px;
}
.product p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.product p:last-of-type {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 3%;
}

.browse {
  padding-top: 80px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.browse p {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1%;
}
.centered {
  margin-inline: auto;
  max-width: 1120px;
  width: 100%;
}
.saleTexts {
  text-align: center;
}

.saleButt {
  margin-top: 40px;
}

.saleHead {
  font-weight: 100;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -1%;
  color: rgba(255, 255, 255, 1);
}

.saleText {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0%;
  color: rgba(120, 120, 120, 1);
}
.shopNow {
  width: 191px;
  height: 56px;
  align-items: center;
  gap: 8px;
  border: solid 1px rgba(255, 255, 255, 1);
  border-radius: 6px;
  background-color: black;
  color: rgba(255, 255, 255, 1);
}
.description {
  display: flex;
  gap: 32px;
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #8b8b8b;
  margin-bottom: 32px;
}
.description p {
  border-bottom: white 2px solid;
}

.description p:hover {
  color: #000000;
  border-bottom: #000000 2px solid;
}

@media only screen and (max-width: 1120px) {
  .saleimage {
    background-image: url("../../../../public/images/saleimg\ small.png");
  }

  .saleHead {
    font-size: 48px;
  }
  .shopNow {
    width: 140px;
  }
  .description {
    width: 100%;
    overflow-x: scroll;
    padding-inline: 16px;
  }
  .description p {
    white-space: nowrap;
  }
  .product {
    height: 352px;
    width: 164px;
    padding-inline: 12px;
  }
  .product img:last-of-type {
    width: 104px;
    object-fit: contain;
  }
  .prods {
    gap: 16px;
    margin-bottom: 56px;
  }

  .product a {
    padding-inline: 35px;
  }
  .product img:last-of-type {
    width: 104px;
    height: 104px;
  }
  .price {
    margin-top: 8px;
  }
  .desc {
    height: 48px;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .shopNow {
    width: 140px;
  }
  .product p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 10em; /* Adjust based on line height */
    line-height: 20px; /* Ensure proper spacing */
  }
  .product p:last-of-type {
    line-height: 28px;
  }
  .browse {
    padding-inline: 16px;
    padding-top: 0;
  }
}
